/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 22, 2018, 10:36:22 AM
    Author     : marek
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 29, 2017, 11:39:01 AM
    Author     : marek
*/
body {
    background-color: #cccccc;
   
}

#cam_front {
    height:0px;
    left:0;
}
#viewer {
        float:right;
        width:550px;
        size: 30px;
    }
#map {
        float:right;
        height:0;
        width:400px;
        height:300px;
    }

#front_l {
    position: fixed;
    bottom:20%;
    left:0%;
    width: 8%;
    height:8%;
    border: 5px solid blue;
    padding: 5px;
    margin: 2px;
    background: grey;

}

#front_r {
    position: fixed;
    bottom:20%;
    left:15%;
    width: 8%;
    height:8%;
    border: 5px solid yellow;
    padding: 5px;
    margin: 2px;
    background: grey;

}

#rear_l {
    position: fixed;
    bottom:0%;
    left:0%;
    width: 8%;
    height:8%;
    border: 5px solid green;
    padding: 5px;
    margin: 2px;
    background: grey;
}

#rear_r {
    position: fixed;
    bottom:0%;
    left:15%;
    width: 8%;
    height:8%;
    border: 5px solid red;
    padding: 5px;
    margin: 2px;
    background: grey;

}
#points_fl{
    font-size:100%;
    font-family: "Serif"
}
#points_fr{
    font-size:100%;
    font-family: "Serif"
}
#points_rl{
    font-size:100%;
    font-family: "Serif"
}
#points_rr{
    font-size:100%;
    font-family: "Serif"
}
#button {
    background-color: #4CAF50; /* Green */
    border: none;
    position:fixed;
    bottom:5%;
    left:32%;
    color: white;
    padding: 40px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    
}