/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 29, 2017, 11:39:01 AM
    Author     : marek
*/
body {
    background-color: #cccccc;
   
}

#cam_front {
    height:400px;
    left:0;
}
    #viewer {
        float: right;
    }
    #map {
        float:left;
        height:30%;
    }

#front_l {
    position: fixed;
    bottom:35%;
    left:0%;
    width: 20%;
    height:25%;
    border: 5px solid blue;
    padding: 5px;
    margin: 2px;
    background: grey;

}

#front_r {
    position: fixed;
    bottom:35%;
    left:25%;
    width: 20%;
    height:25%;
    border: 5px solid yellow;
    padding: 5px;
    margin: 2px;
    background: grey;

}

#rear_l {
    position: fixed;
    bottom:0%;
    left:0%;
    width: 20%;
    height:25%;
    border: 5px solid green;
    padding: 5px;
    margin: 2px;
    background: grey;
}

#rear_r {
    position: fixed;
    bottom:0%;
    left:25%;
    width: 20%;
    height:25%;
    border: 5px solid red;
    padding: 5px;
    margin: 2px;
    background: grey;

}
#points_fl{
    font-size:100%;
    font-family: "Serif"
}
#points_fr{
    font-size:100%;
    font-family: "Serif"
}
#points_rl{
    font-size:100%;
    font-family: "Serif"
}
#points_rr{
    font-size:100%;
    font-family: "Serif"
}
#button {
    background-color: magenta; /* Green */
    border: none;
    position:fixed;
    top:15%;
    left:25%;
    color: white;
    height: 20px;
    width: 23%;
    padding: 40px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    
}

#buttonver {
    background-color: magenta; /* Green */
    border: none;
    position:fixed;
    top:15%;
    left:0%;
    color: white;
    height: 20px;
    width: 23%;
    padding: 40px 40px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
}